<main class="mx-auto">
    <div class="user">
        <h2>{{user.first_name}} {{user.last_name}}</h2>
        <p>gender: {{user.gender}}</p>
        <p>Date booked: {{user.date}}</p>
        <p>contact details: {{user.contact}}</p>
        <p>Venue booked: {{user.venue}}</p>
        <p>Time slot booked: {{user.timeSlot}}</p>
        
        <p class="text-right">
            <a href="/users">Back</a>
            {{#if nextUser}}
            <a href="/users/view/{{nextUser}}">Next user</a>
            {{/if}}
        </p>
    </div>
</main>