<main>
    <h2>Welcome to our venues collection feel free to browser our number of venues if you would like to book a venue
        please select the book button under the venue of your choosing</h2>
    <a href="/venues/data" id="seeVenueBtn" class="label primary">See venue data</a>
    {{!Using data from venues.json grab all data in file}}
    {{#each venues}}
    <article>

        {{!display all title from file as a heading}}
        <h3>{{title}}</h3>
        {{!insert image from path inside file and give the alt attubite the value of the title}}
        <img src="{{img}}" alt="{{title}}">
        {{!insert discriptions for a venues using the short values from the json}}
        <p>{{short}}

       </p>
        <ul>
        {{! insert all bullest data into an unordered list}}
        {{#each bullets}}
        <li>{{this}}</li>
        {{/each}}
        </ul> 
        </br>
        <p>{{long}}</p>
        </br>
        <a href="venues/book/{{id}}">Book {{title}} now</a>
    </article>

    {{/each}}
</main>